@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.container {
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

i:hover {
  color: red;
  cursor: pointer;
}

input {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px #333 solid;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #26a69a;
}

.btn {
  padding: 0.7rem 1rem;
  background: #26a69a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.btn-black {
  background: #333;
}

.taskList {
  list-style: none;
  margin: 1rem 0;
}

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.5px solid lightgrey;
  padding: 0.5rem;
  border-radius: 5px;
}

.card {
  padding: 2rem;
  border: 0.1px lightgrey solid;
  box-shadow: 2px 2px 5px #999;
}
